ion-list-header {
  background-color: #ececec;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.placeholder-profile {
  color: #cccccc;
}

.profile-item {
  ion-button {
    margin: 12px 0 0;
    height: 30px;
    --padding-end: 10px;
    --padding-start: 10px;

    ion-icon {
      margin-left:8px;
      margin-top:-3px;
    }
  }

  ion-input[readonly] {
    pointer-events: none;
    touch-action: none;
  }

}

.achievement-inactive {
  ion-icon {
    background-color: #c8c5c5;
    border-radius: 100%;
    padding: 15px;
    border: 2px solid grey;
  }
}

.achievement-active {
  ion-icon {
    background-color: #c8c5c5;
    color:#FFD700;
    border-radius: 100%;
    box-shadow: 0 1px 5px 0 #000000;
    padding: 15px;
    border: 2px solid #FFD700;;
  }
}



//ion-item {
//  border:1px solid #ff0;
//}
//
//ion-col {
//  border:1px solid #0000ff;
//}
//
//ion-row {
//  border:1px solid #00ff00;
//}
