// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.mainLoggedIn {
    margin-top:56px;
}

#background-content {
    background: rgb(9,9,121);
    background: linear-gradient(307deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

.side-menu {
    background-color: blue;
}

#sidemenu-list {
    background: transparent;

    ion-item {
        --background: transparent;
        --color: #fff;
    }

    ion-item.selected {
        --color: var(--ion-color-primary);
    }

    ion-icon {
        color: #fff;
        margin: 0 20px 0 20px;
        stroke: #fff;
    }
}
