<ion-app>
  <ion-split-pane contentId="main-content" style="--side-max-width: 300px;">
    <ion-menu contentId="main-content" type="push" *ngIf="displayHeader()">
      <ion-content class="side-menu" style="--background:linear-gradient(to right, #045de9, #09c6f9)">
        <div class="user_man_div sidebar-avatar-wrapper">
          <app-block-avatar></app-block-avatar>
        </div>
        <ion-list id="sidemenu-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index;">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
